<div class="swiper-slide">
  <div class="customers__review">
    <div class="customers__review-picture">
      <img src="./img/customers/@@img" alt="@@img" />
    </div>
    <div class="customers__review-content">
      <p class="customers__review-text">@@review</p>
      <div class="customers__review-rating">
        <img src="./img/icons/rating-star.svg" alt="star" />
        <img src="./img/icons/rating-star.svg" alt="star" />
        <img src="./img/icons/rating-star.svg" alt="star" />
        <img src="./img/icons/rating-star.svg" alt="star" />
        <img src="./img/icons/rating-star.svg" alt="star" />
      </div>
      <span class="customers__review-name">@@customerName</span>
      <span class="customers__review-profession">@@profession</span>
    </div>
  </div>
</div>
